.Textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 5lh;
  border: 1px solid var(--color);
  border-radius: var(--size-m);
  resize: vertical;
  background-color: var(--back-color);
  font-family: "PT Sans", fallback-for-PT-Sans-1, fallback-for-PT-Sans-2,
    sans-serif;
  color: var(--color);
  font-size: 1rem;
  padding: 0.25em 0.5em;
}

.Textarea:focus-visible {
  outline: var(--size-s) solid var(--color);
  outline-offset: -1px;
}

.Textarea::placeholder {
  color: var(--weak-color);
}

.Textarea-Wrapper {
  position: relative;
  margin: var(--size-xl) 0;
}

.Textarea-Scroller {
  position: absolute;
  inset: calc(min(45vw, 50vh) / 2) 0 calc(min(45vw, 50vh) / -2);
}

.Keyboard {
  background-color: var(--dark-5);
  padding: 0.125em 0 0.5em;
  display: grid;
  gap: 0;
  text-align: center;
  position: fixed;
  inset: auto 0 0;
  height: min(45vw, 50vh);
  user-select: none;
  font-size: max(1rem, min(4vw, 4vh));
  transition: transform 0.5s;
  transform: translateY(0);
  touch-action: none;
}

body {
  padding-bottom: min(45vw, 50vh);
}

body:not([data-textarea-focused][data-touch]) .Keyboard {
  transform: translateY(100%);
}

.Keyboard p {
  margin: 0;
  display: flex;
  gap: 0;
  justify-content: center;
}

.Keyboard p:nth-child(1) button {
  z-index: 4;
}
.Keyboard p:nth-child(2) button {
  z-index: 3;
}
.Keyboard p:nth-child(3) button {
  z-index: 2;
}
.Keyboard p:nth-child(4) button {
  z-index: 1;
}

.Keyboard button {
  margin: 0;
  background-color: var(--dark-3);
  background: none;
  border: none;
  box-sizing: border-box;
  width: calc((100% - 0.23em) / 11);
  color: var(--light-1);
  padding: 0;
  font-size: inherit;
  line-height: 1rem;
  position: relative;
  font-family: "PT Sans", fallback-for-PT-Sans-1, fallback-for-PT-Sans-2,
    sans-serif;
}

.Keyboard button[data-chars]::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0.125em;
  background-color: var(--dark-3);
  border-radius: 0.25em;
}

.Keyboard button[data-role] {
  padding: 0 2px;
}

.Keyboard button[data-role]::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0.0625em;
  border-radius: 9999px;
  background-color: var(--dark-1);
}

.Keyboard button[data-role][data-active]::before {
  background-color: var(--light-3);
}

.Keyboard button[data-chars=" "] {
  width: calc((100% - 0.23em) / 11 * 5);
  color: var(--light-5);
}

.Keyboard button[data-chars][data-active]::before {
  background-color: var(--light-4);
}

.Keyboard button[data-chars]:not([data-chars=" "])[data-active]::after {
  content: var(--char);
  display: block;
  position: absolute;
  inset: -110% 0 110%;
  background-color: var(--dark-1);
  border-radius: 9999px;
  display: grid;
  align-items: center;
  font-size: 2em;
}
.Keyboard button[data-chars]:not([data-chars=" "])[data-active] {
  z-index: 200;
}

.Keyboard[data-shift] button[data-chars]:not([data-chars=" "]) {
  text-transform: uppercase;
}

.Keyboard[data-shift] button[data-role="shift"]::before,
.Keyboard[data-symbols] button[data-role="symbols"]::before {
  background-color: var(--light-3);
}

.Keyboard sup {
  position: absolute;
  transform: translateY(-0.5em);
  color: var(--light-5);
  font-size: 0.75em;
  pointer-events: none;
}

.Keyboard img {
  pointer-events: none;
  width: 1.25em;
  height: 1.25em;
  margin: -0.5em auto;
  display: block;
}

.Keyboard[data-symbols] .Keyboard-Letter,
.Keyboard:not([data-symbols]) .Keyboard-Symbol {
  display: none;
}

body:not([data-clipboard-supported]) .CopyButtonWrapper {
  display: none;
}
