.Kb {
  --kb-scale: calc(min(0.76rem, 1.8vw));
  --kb-key-width: calc(3.25 * var(--kb-scale));
  --kb-key-height: calc(3.25 * var(--kb-scale));
  --kb-key-border-radius: calc(0.5 * var(--kb-scale));
  --kb-key-gap: calc(0.375 * var(--kb-scale));
  --kb-key-bg-color: var(--light-3);
  --kb-key-shadow-color: var(--light-4);
  --kb-key-color: var(--dark-5);
  --kb-special-key-bg-color: var(--dark-2);
  --kb-special-key-shadow-color: var(--dark-3);
  --kb-special-key-color: var(--light-1);
  font-size: var(--kb-scale);
  display: grid;
  gap: var(--kb-key-gap);
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  margin: var(--size-l) 0 0;
}

@media (prefers-color-scheme: dark) {
  .Kb {
    --kb-key-shadow-color: var(--dark-1);
  }
}

.Kb-Row {
  display: flex;
  gap: var(--kb-key-gap);
  justify-content: stretch;
}

.Kb-Row > * {
  margin: 0;
  list-style-type: none;
  background-color: var(--kb-key-bg-color);
  color: var(--kb-key-color);
  border-radius: var(--kb-key-border-radius);
  width: var(--kb-key-width);
  height: var(--kb-key-height);
  display: grid;
  grid-template-areas: "shift altShift" "base alt";
  grid-template-rows: 1fr 1fr;
  padding: calc(0.333 * var(--kb-scale));
  box-sizing: border-box;
  line-height: 1;
  flex-shrink: 0;
  --kb-shadow-color: var(--kb-key-shadow-color);
  box-shadow: 0 calc(0.2 * var(--kb-scale)) var(--kb-shadow-color);
  white-space: nowrap;
}

.Kb-Row > * > :nth-child(1) {
  grid-area: base;
  align-self: end;
}

.Kb-Row > * > :nth-child(2) {
  grid-area: shift;
}

.Kb-Row > * > :nth-child(3) {
  grid-area: alt;
  text-align: right;
  align-self: end;
}

.Kb-Row > * > :nth-child(4) {
  grid-area: altShift;
  text-align: right;
}

.Kb-BackspaceKey,
.Kb-TabKey,
.Kb-EnterTopKey,
.Kb-CapsLockKey,
.Kb-EnterBottomKey,
.Kb-ShiftLKey,
.Kb-ShiftRKey,
.Kb-ControlLKey,
.Kb-SuperLKey,
.Kb-AltLKey,
.Kb-SpaceKey,
.Kb-AltRKey,
.Kb-SuperRKey,
.Kb-MenuKey,
.Kb-ControlRKey {
  background-color: var(--kb-special-key-bg-color);
  color: var(--kb-special-key-color);
  font-size: calc(0.75 * var(--kb-scale));
  --kb-shadow-color: var(--kb-special-key-shadow-color);
}

.Kb-TabKey {
  width: calc(var(--kb-key-width) * 1.333);
}

.Kb-CapsLockKey {
  width: calc(var(--kb-key-width) * 1.75);
}

.Kb-ShiftLKey {
  width: calc(var(--kb-key-width) * 1.125);
}

.Kb-ControlLKey,
.Kb-SuperLKey,
.Kb-AltLKey,
.Kb-AltRKey,
.Kb-SuperRKey,
.Kb-MenuKey,
.Kb-ControlRKey {
  width: calc(var(--kb-key-width) * 1.25);
}

.Kb-BackspaceKey,
.Kb-EnterTopKey,
.Kb-EnterBottomKey,
.Kb-ShiftRKey,
.Kb-SpaceKey {
  flex-grow: 1;
}

.Kb-EnterBottomKey {
  margin-top: calc(var(--kb-key-height) * -1 - var(--kb-key-gap));
  height: calc(var(--kb-key-height) * 2 + var(--kb-key-gap));
  position: relative;
}

.Kb-EnterBottomKey::before {
  content: "";
  display: block;
  position: absolute;
  width: calc(var(--kb-key-border-radius) * 2);
  height: calc(var(--kb-key-border-radius) * 2);
  top: calc(var(--kb-key-height) - var(--kb-key-border-radius));
  left: calc(var(--kb-key-border-radius) * -2);
  border-top-right-radius: calc(var(--kb-key-border-radius) * 2);
  border: var(--kb-key-border-radius) solid var(--kb-special-key-bg-color);
  border-left: none;
  border-bottom: none;
  box-sizing: content-box;
  box-shadow: inset 0 calc(0.2 * var(--kb-scale)) var(--kb-shadow-color);
}

.Kb-Row > ul:has(.Kb-AddedSymbol, .Kb-RemovedSymbol) {
  --kb-key-bg-color: var(--blue-1);
  --kb-key-shadow-color: var(--blue-2);
}

@media (prefers-color-scheme: dark) {
  .Kb-Row > ul:has(.Kb-AddedSymbol, .Kb-RemovedSymbol) {
    --kb-key-shadow-color: var(--blue-4);
  }
}

.Kb-Row > ul:is([class]):has(.Kb-AddedSymbol, .Kb-RemovedSymbol) {
  --kb-special-key-bg-color: var(--blue-3);
  --kb-special-key-shadow-color: var(--blue-5);
}

.Kb-AddedSymbol {
  color: var(--green-5);
  text-shadow: white 1px 1px 1px, white -1px 1px 1px, white 1px -1px 1px,
    white -1px -1px 1px;
  font-weight: bold;
}

.Kb-AddedSymbol::before {
  content: " ";
  display: inline;
}

.Kb-RemovedSymbol {
  color: var(--red-4);
  text-decoration: line-through;
}

@media print {
  .Kb,
  .Kb * {
    print-color-adjust: exact;
  }

  .Kb {
    --kb-key-bg-color: white;
    --kb-key-shadow-color: transparent;
    --kb-key-color: black;
    --kb-special-key-bg-color: var(--light-3);
    --kb-special-key-shadow-color: transparent;
    --kb-special-key-color: black;
  }

  .Kb-Row > ul:not([class]) {
    border: 1.5px solid var(--light-5);
  }

  .Kb-Row > ul:not([class]) > li {
    margin: 0 -1.5px;
  }

  .Kb-Row > ul:has(.Kb-AddedSymbol, .Kb-RemovedSymbol) {
    --kb-key-bg-color: transparent;
    --kb-key-shadow-color: transparent;
    border: 1.5px solid var(--blue-3);
  }

  .Kb-Row > ul:is([class]):has(.Kb-AddedSymbol, .Kb-RemovedSymbol) {
    --kb-special-key-bg-color: var(--blue-1);
    --kb-special-key-shadow-color: transparent;
    border: none;
  }
}

/* On-screen keyboard */

.Keyboard {
  margin-top: var(--size-xl);
  background-color: var(--dark-5);
  padding: 0.125em 0;
  display: grid;
  gap: 0;
  text-align: center;
  height: 10rem;
  user-select: none;
  font-size: max(1rem, min(4vw, 4vh));
  font-size: 1rem;
  border-radius: 0.5em;
}

.Keyboard p {
  margin: 0;
  display: flex;
  gap: 0;
  justify-content: center;
}

.Keyboard > p > span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: var(--dark-3);
  background: none;
  border: none;
  box-sizing: border-box;
  width: calc((100% - 0.25em) / 11);
  color: var(--light-1);
  padding: 0;
  font-size: inherit;
  line-height: 1rem;
  position: relative;
  font-family: "PT Sans", fallback-for-PT-Sans-1, fallback-for-PT-Sans-2,
    sans-serif;
  z-index: 1;
}

.Keyboard > p > span[data-chars]::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0.125em;
  background-color: var(--dark-3);
  border-radius: 0.25em;
}

.Keyboard > p > span[data-role] {
  padding: 0 2px;
}

.Keyboard > p > span[data-role]::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  inset: 0.0625em;
  border-radius: 9999px;
  background-color: var(--dark-1);
}

.Keyboard > p > span[data-chars=" "] {
  width: calc((100% - 0.25em) / 11 * 5);
  color: var(--light-5);
}

.Keyboard sup {
  position: absolute;
  transform: translateY(-0.5em);
  color: var(--light-5);
  font-size: 0.75em;
  pointer-events: none;
}

.Keyboard img {
  pointer-events: none;
  width: 1.25em;
  height: 1.25em;
  margin: -0.5em auto;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .Keyboard {
    background-color: transparent;
    margin: -0.25em;
    margin-top: calc(var(--size-xl) - 0.25em);
  }
}

@media print {
  .Keyboard {
    background-color: transparent;
    margin: -0.25em;
    margin-top: calc(var(--size-xl) - 0.25em);
  }

  .Keyboard > p > span[data-chars]:not([data-chars=" "]) {
    color: black;
  }

  .Keyboard > p > span[data-chars]::before {
    background-color: transparent;
    box-sizing: border-box;
    border: 1.5px solid var(--light-5);
  }

  .Keyboard > p > span[data-role] {
    color: black;
  }

  .Keyboard > p > span[data-role]::before {
    background-color: var(--light-3);
  }

  .Keyboard > p > span[data-chars=" "] {
  }

  .Keyboard sup {
  }

  .Keyboard img {
    filter: invert();
  }
}
